# Ch02.4 NumPy Advanced Operations

# Operations

## Advanced Operations

In [23]:
import numpy as np
import pandas as pd

In [24]:
np.__version__

'1.23.3'

## Statistical operators

In [25]:
arr=np.array([9, 4, 1, 2, 9])
arr.mean()

5.0

In [26]:
arr.std()

3.40587727318528

In [27]:
np.random.seed(10)
ar=np.random.randint(0,10, size=(4,5)); ar

array([[9, 4, 0, 1, 9],
       [0, 1, 8, 9, 0],
       [8, 6, 4, 3, 0],
       [4, 6, 8, 1, 8]])

In [28]:
ar.mean()

4.45

In [29]:
# var 變異數
ar.var(axis=1) #across columns

array([14.64, 16.24,  7.36,  7.04])

In [30]:
ar.var(axis=0) #across rows

array([12.6875,  4.1875, 11.    , 10.75  , 18.1875])

In [31]:
ar

array([[9, 4, 0, 1, 9],
       [0, 1, 8, 9, 0],
       [8, 6, 4, 3, 0],
       [4, 6, 8, 1, 8]])

In [32]:
ar.cumsum()

array([ 9, 13, 13, 14, 23, 23, 24, 32, 41, 41, 49, 55, 59, 62, 62, 66, 72,
       80, 81, 89])

In [33]:
# cumulative summary
ar.cumsum(axis=1)

array([[ 9, 13, 13, 14, 23],
       [ 0,  1,  9, 18, 18],
       [ 8, 14, 18, 21, 21],
       [ 4, 10, 18, 19, 27]])

In [34]:
ar.cumsum(axis=0)

array([[ 9,  4,  0,  1,  9],
       [ 9,  5,  8, 10,  9],
       [17, 11, 12, 13,  9],
       [21, 17, 20, 14, 17]])

## Logical operators

In [35]:
np.random.seed(100)
ar=np.random.randint(1,10, size=(4,4)); ar

array([[9, 9, 4, 8],
       [8, 1, 5, 3],
       [6, 3, 3, 3],
       [2, 1, 9, 5]])

In [36]:
ar=np.array([9, 9, 4, 8])
np.any((ar%7)==0)

False

In [37]:
#期待看到false
np.all(ar<11)

True

In [38]:
#期待看到true
np.any((ar%7)==0)

False

## Broadcasting

In [17]:
# 課本 p66

In [56]:
ar=np.ones((3,2)); ar

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

In [14]:
ar2=np.array([2,3]); ar2

array([2, 3])

In [15]:
ar=np.array([[1., 1.],[1., 1.]])
ar2=np.array([2, 3])

In [16]:
ar+ar2

array([[3., 4.],
       [3., 4.]])

<b>Broadcasting works across dimensions</b>

In [17]:
ar=np.array([[23,24,25]]); ar

array([[23, 24, 25]])

In [18]:
ar.T

array([[23],
       [24],
       [25]])

In [19]:
ar.T+ar

array([[46, 47, 48],
       [47, 48, 49],
       [48, 49, 50]])

<b>Row expansion</b>

In [39]:
ar1 = np.array([[0, 0, 0],
                [1, 1, 1],
                [2, 2, 2],
                [3, 3, 3]])
ar1

array([[0, 0, 0],
       [1, 1, 1],
       [2, 2, 2],
       [3, 3, 3]])

In [40]:
ar2=np.array([1,2,3])
ar2

array([1, 2, 3])

In [43]:
# dim = 2
ar1.shape

(4, 3)

In [46]:
# dim = 1 -> dim = 2 -> 變更shape (4,3)
# (3, ) -> (1, 3) -> (4, 3)
ar2.shape

(3,)

In [47]:
ar1+ar2

array([[1, 2, 3],
       [2, 3, 4],
       [3, 4, 5],
       [4, 5, 6]])

<b>Column expansion</b>

In [51]:
ar1

array([[0, 0, 0],
       [1, 1, 1],
       [2, 2, 2],
       [3, 3, 3]])

In [50]:
ar2=np.array([1,2,3,4])
ar3=ar2.reshape((4,1))
ar3

array([[1],
       [2],
       [3],
       [4]])

In [52]:
ar1.shape

(4, 3)

In [55]:
# dim =2 -> reshape(4, 3)
ar3.shape

(4, 1)

In [54]:
ar1+ar3

array([[1, 1, 1],
       [3, 3, 3],
       [5, 5, 5],
       [7, 7, 7]])